---
import { type CollectionEntry, getCollection } from 'astro:content';
import LlamaPost from '../../layouts/LlamaPost.astro';

export async function getStaticPaths() {
	const posts = await getCollection('llama');
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}
type Props = CollectionEntry<'llama'>;

const post = Astro.props;
const { Content } = await post.render();
---

<LlamaPost {...post.data}>
	<Content />
</LlamaPost>
