---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';

import "../../styles/post-listing.css"

const posts = (await getCollection('llama')).sort(
    (a, b) => b.data.updateDate.valueOf() - a.data.updateDate.valueOf()
);
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body>
        <Header />
        <main class="post-listing">
            <section>
                <h1
                    class="text-center mt-8 mb-4 text-6xl"
                    style="font-family: var(--font-title);">
                    Local Llamas!
                </h1>
                <p
                    class="text-center mb-4 text-lg">
                    In the last year, the open source Large Language Model
                    (llama) community has made huge strides. In this exciting
                    time of innovation, I've decided to write down some of what
                    I learned!

                </p>
                <p
                    class="text-center mb-4 text-lg">
                    A "<i>local</i> llama" refers to an open-source llama that's
                    being hosted by an individual not a company, typically on a
                    high-end personal computer.
                </p>
                <p
                    class="text-center mb-4 text-lg">
                </p>
                <hr class="m-4" style="border: 1px solid black;" />
                <ul>
                    {
                        posts.map((post) => (
                            <li>
                                <a href={`/llama/${post.slug}/`}>
                                    <img
                                        width={720}
                                        height={360}
                                        class="rounded-2xl grayscale"
                                        src={ post.data.heroImage ? post.data.heroImage : "/images/llama/tiny-llama-logo.avif" }
                                        alt="" />
                                    <h4
                                        class="title text-xl">
                                        {post.data.title}
                                    </h4>
                                    <p class="date">
                                       Updated on <FormattedDate date={post.data.updateDate} />
                                    </p>
                                </a>
                            </li>
                        ))
                    }
                </ul>
            </section>
        </main>
        <Footer />
    </body>
</html>
