---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';

import "../../styles/post-listing.css"

const posts = (await getCollection('blog')).sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body>
        <Header />
        <main class="post-listing">
            <section>
                <h1
                    class="text-center mt-8 mb-4 text-6xl"
                    style="font-family: var(--font-title);">
                    Blogs!
                </h1>
                <p
                    class="text-center mb-4 text-xl">
                    A collection of tutorials and opinionated pieces. Have a
                    read!
                </p>
                <hr class="m-4" style="border: 1px solid black;" />
                <ul>
                    {
                        posts.map((post) => (
                            <li>
                                <a href={`/blog/${post.slug}/`}>
                                    <img
                                        width={720}
                                        height={360}
                                        class="rounded-2xl grayscale"
                                        src={ post.data.heroImage ? post.data.heroImage : "/images/blog/blog-placeholder.avif" }
                                        alt="" />
                                    <div class="hero-text">
                                         {post.data.heroText}
                                    </div>
                                    <h4
                                        class="title text-xl">
                                        {post.data.title}
                                    </h4>
                                    <p class="date">
                                        <FormattedDate date={post.data.pubDate} />
                                    </p>
                                </a>
                            </li>
                        ))
                    }
                </ul>
            </section>
        </main>
        <Footer />
    </body>
</html>
