---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { Image } from 'astro:assets';

import Layout from '../layouts/BlogPost.astro';

const imageFiles = (await Astro.glob('../assets/cat-pics/*'));
---

<Layout
    title="Contact Me!"
    description="My contact information"
    pubDate={new Date()}
>
    <h1>Contact Information</h1>

    <p>
        Thanks for looking to contact me! I'm happy to receive messages!
    </p>

    <h2>Email</h2>
    <p>
        The best way to contact me is through email. I typically reply under a
        day and welcome all sorts of messages.
    </p>

    <p>
        My school email is <a href="mailto:izuko@ualberta.ca">izuko@ualberta.ca</a>.
        This is typically a good choice for contacting me, but the spam filter
        has an unfortuate tendency to block external emails sometimes.
    </p>

    <p>
        If you don't get a reply from my school email after some time, you can
        try my personal email. It's accessible through the following command:
    </p>

    <pre><code>echo 'YWtlbWlAbm93YXkubW9lCg==' | base64 -d</code></pre>

    <h2>Social Media</h2>

    <p>
        I don't use too much social media, but there are a few linked in the
        site footer. Expect longer reply times, as I don't check these nearly as
        often.
    </p>
</Layout>
