---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { Image } from 'astro:assets';

import '../styles/masonry.css';

const imageFiles = (await Astro.glob('../assets/cat-pics/*'));
---

<head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
</head>
<main>
    <Header />
    <div style="max-width: 960px;">
        <h1
            class="text-center mt-8 mb-4 text-6xl"
            style="font-family: var(--font-title);">
            Kuro Pics!
        </h1>
        <p class="text-center m-4 text-xl">
            This is Kuro. She's about 6 years old. She likes squishy things,
            like extra towels on the bed.
        </p>
        <hr class="m-4" style="border: 1px solid black;" />
    </div>
    <div class="masonry">
        {
            imageFiles.reverse().map((img) => (
                <div class="masonry-grid">
                    <a href={img.default.src}>
                        <Image
                            src={img.default}
                            width="600"
                            alt="Photo of a grey cat with yellow eyes"
                            class="masonry-image"
                        />
                    </a>
                </div>
            ))
        }
    </div>
    <Footer />
</main>

<style>
    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #title {
        font-family: var(--font-title);
        font-size: 40px;
        text-align: center;
        margin: 10px;
    }
</style>
