---
import { type CollectionEntry, getCollection } from 'astro:content';
import UnixPost from '../../layouts/UnixPost.astro';

export async function getStaticPaths() {
	const posts = await getCollection('unix');
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}
type Props = CollectionEntry<'unix'>;

const post = Astro.props;
const { Content } = await post.render();
---

<UnixPost {...post.data}>
	<Content />
</UnixPost>
