---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';

import "../../styles/post-listing.css"

const posts = (await getCollection('unix')).sort(
    (a, b) => b.data.updateDate.valueOf() - a.data.updateDate.valueOf()
);
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body>
        <Header />
        <main class="post-listing">
            <section>
                <h1
                    class="text-center mt-8 mb-4 text-6xl"
                    style="font-family: var(--font-title);">
                    Unix Guides!
                </h1>
                <p
                    class="text-center mb-4 text-lg">
                    Over the past few years, I've extenstively configured and
                    learned about using MacOS, Linux, and even some BSD
                    systems. Along the way I documented some of the fun aspects
                    of learning Unix. The code for most guides is part of my
                    <a class="highlight-this" href="https://git.mami2.moe/akemi/dotfiles">
                       dotfiles collection
                    </a>.
                </p>
                <p
                    class="text-center mb-4 text-lg">
                    These guides are mostly helpful for Linux, especially new
                    enthusiasts!
                </p>
                <p
                    class="text-center mb-4 text-lg">
                </p>
                <hr class="m-4" style="border: 1px solid black;" />
                <ul>
                    {
                        posts.map((post) => (
                            <li>
                                <a href={`/unix/${post.slug}/`}>
                                    <img
                                        width={720}
                                        height={360}
                                        class="rounded-2xl grayscale"
                                        src={ post.data.heroImage ? post.data.heroImage : "/images/unix/unix-placeholder.avif" }
                                        alt="" />
                                    <h4
                                        class="title text-xl">
                                        {post.data.title}
                                    </h4>
                                    <p class="date">
                                       Updated on <FormattedDate date={post.data.updateDate} />
                                    </p>
                                </a>
                            </li>
                        ))
                    }
                </ul>
            </section>
        </main>
        <Footer />
    </body>
</html>
