---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
import { Code } from 'astro:components';

import '../styles/markdown.css';

type Props = CollectionEntry<'unix'>['data'];

const { title, description, updateDate, heroImage } = Astro.props;
---

<html lang="en">
    <head>
        <BaseHead title={title} description={description} />
    </head>

    <body>
        <Header />
        <main>
            <article>
                <div class="markdown-title">
                    <h1 class="markdown-title">{title}</h1>
                    <div class="date">
                        Updated on <FormattedDate date={updateDate} />
                    </div>
                </div>

                <div class="prose">
                    <div class="hero-image">
                        {heroImage && <img width={1020} height={510} src={heroImage} alt="" />}
                    </div>
                    <slot />
                </div>
            </article>
        </main>
        <Footer />
    </body>
</html>
